* {
  padding: 0;
  margin: 0;
  font-family: "Jost", sans-serif;
}
body {
  background-color: #fff;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: orange;
}
