.produto-cart-container {
    border: 1px solid #e9e9e9;
    padding: 10px;
    display: flex;
    margin: 10px;
}
.produto-cart-container img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.produto-cart-nome {
    margin: 10px 3px 4px 0px;
    font-weight: 900;
    color: #000;
}
.produto-cart-preco {
    color: #888787;
    font-size: 0.8rem;
    margin: 0px 3px 10px 0px;
    font-weight: 600;
}
.produto-cart-rodape {
    display: flex;
    justify-content: space-between;
}
.produto-infos {
    flex: 1;
}
.produto-cart-btn {
    border: 1px solid #cacaca;
    padding: 8px 8px; 
    background-color: #fff;
    border-radius: 2px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.produto-cart-btn:hover {
    background-color: #cacaca;
}
.produto-cart-qtd {
    margin-left: 10px;
    margin-right: 10px;
}
.produto-cart-valor {
   color: #E84F3D;
   font-size: 1rem;
   font-weight: 900;
   line-height: 1rem; 
}